https://www.google.com,111,OK,deployment name A
https://christaylordeveloper.co.uk,222,OK,deployment name B
https://www.facebook.com/,333,OK,deployment name C
https://www.amazon.com,444,OK, deployment name D
